@model TurboRango.Web.Models.ReservaRestaurante

@{
    ViewBag.Title = "Reservar";
}

<h2>@Model.Restaurante.Nome</h2>

<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-center">
        <img class="img-rounded" src="@Model.Restaurante.Img" width="250px" alt="Alternate Text" />
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4>Telefone: @Model.Restaurante.Contato.Telefone</h4>
        <h4>Web Site: <a href="">@Model.Restaurante.Contato.Site</a></h4>
    </div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.Restaurante.Id" name="Reserva.idRestaurante" />
    <div class="form-horizontal">
        <h4>Reservar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" for="Reserva_NomeCliente">Nome Cliente</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reserva.NomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reserva.NomeCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Reserva_QtdPessoas">Quantidade de Pessoas</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reserva.QtdPessoas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reserva.QtdPessoas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Reserva_ValorTotal">Valor Total</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reserva.ValorTotal, new { htmlAttributes = new { @class = "form-control", @value = "0" } })
                @Html.ValidationMessageFor(model => model.Reserva.ValorTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Reserva_Data">Data</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reserva.Data, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Reserva.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2" for="Reserva_Turno">Turno</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reserva.Turno, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="Reserva_Turno">Turno</label>
            <div class="col-md-10">
                <select class="form-control" name="Reserva.Turno" required>
                    <option value="">-- Selecione --</option>
                    <option value="MeioDia">Meio-Dia</option>
                    <option value="Noite">Noite</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reservar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts{
<script>
    $('#Reserva_QtdPessoas').focusout(function () {

        var qtd = $(this).val() * 10;

        $('#Reserva_ValorTotal').val(qtd);
    });
</script>
}