@model IEnumerable<TurboRango.Web.Models.ReservaRestaurante>

@{
    ViewBag.Title = "Index";
}

<h2>Reservas</h2>

<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Quantidade de Pessoas
        </th>
        <th>
            Valor Total
        </th>
        <th>
            Data
        </th>
        <th>
            Turno
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.QtdPessoas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.Turno)
        </td>
        <td>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Editar", "Edit", new { id = item.Reserva.Id }) @Html.Raw(" |")
        }
            @Html.ActionLink("Detalhar", "Details", new { id = item.Reserva.Id }) 
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.Raw("| ")
            @Html.ActionLink("Ecluir", "Delete", new { id = item.Reserva.Id })
        }
        </td>
    </tr>
}

</table>
