@model IEnumerable<TurboRango.Dominio.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Reservas</h2>

<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Quantidade de Pessoas
        </th>
        <th>
            Valor Total
        </th>
        <th>
            Data
        </th>
        <th>
            Turno
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdPessoas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turno)
        </td>
        <td>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) @Html.Raw(" |")
        }
            @Html.ActionLink("Detalhar", "Details", new { id=item.Id }) 
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.Raw("| ")
            @Html.ActionLink("Ecluir", "Delete", new { id=item.Id })
        }
        </td>
    </tr>
}

</table>
